  <div class="row">
    <div class="col-12 mt-3">
      <div class="row">
        <div class="col-12"style="padding:0;margin:0">
          <!-- Footer -->
          <footer class="page-footer font-small blue-grey lighten-5 pt-1">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left mt-5">

              <!-- Grid row -->
              <div class="row mt-3 dark-grey-text">

                <!-- Grid column -->
                <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
                 <div>
                   <div class="row">
                     <div class="col-5 d-flex align-items-start justify-content-end mr-0 pr-0">
                       <div class="imageSection">
                         <div style="background: url('../../../assets/images/tharanga.jpeg')" class="profileImage"></div>
                       </div>
                     </div>
                     <div class="col-7 d-flex align-items-center justify-content-start">
                       <div class="text-left" style="vertical-align: center">
                         <h6 class="text-dark">Developed by:</h6>
                         <p class="mb-0 name">K.P.T.Mahavila</p>
                         <p class="title mb-0">SE @ Pearson Lanka (pvt) ltd</p>
                         <p class="title mt-0">077-7215112</p>
                       </div>
                     </div>
                   </div>

                   <div class="row">
                     <div class="col-5 d-flex align-items-start justify-content-end mr-0 pr-0">
                       <div class="imageSection">
                         <div style="background: url('../../../assets/images/ganga.jpeg')" class="profileImage"></div>
                       </div>
                     </div>
                     <div class="col-7 d-flex align-items-center justify-content-start">
                       <div class="text-left">
                         <h6 class="text-dark">Donated by:</h6>
                         <p class="mb-0 name">K.P.G.K.Jayakodi</p>
                         <p class="title">Teacher @ Batemulla National School</p>
                       </div>
                     </div>
                   </div>
                 </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
                  <div>
                    <h6 class="text-uppercase font-weight-bold">Mission</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                      <span class="text-black text-bold mr-2"><em>Our aim is to spread Computer Education & Awareness all over Sri Lanka</em></span>
                      So,We made a donation for G/Batemulla National School to improve the lives
                      of students through information and technology.
                      <br>
                      <br>
                      With a small donation you can help us to make mission come true and to implement
                      sustainable projects that change the lives of many students for the better.
                    </p>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
                  <!-- Links -->
                  <div>
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                      <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Ahangama,Galle,Sri Lanka
                    </p>
                    <p>
                      <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> tharangamahavila@gmail.com
                    </p>
                    <p>
                      <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 071 156 22 88
                    </p>
                    <div>
                      <mdb-icon fas icon="" class="mr-4"></mdb-icon>
                      <!-- Facebook -->
                      <a class="fb-ic">
                        <mdb-icon fab icon="facebook" class="mr-2"></mdb-icon>
                      </a>
                      <!-- Twitter -->
                      <a class="tw-ic">
                        <mdb-icon fab icon="twitter" class="mr-2"></mdb-icon>
                      </a>
                      <!-- Google +-->
                      <a class="gplus-ic">
                        <mdb-icon fab fab icon="google-plus" class="mr-2"></mdb-icon>
                      </a>
                      <!--Linkedin -->
                      <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="mr-2"></mdb-icon>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="mr-2"></mdb-icon>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Footer Links -->

          </footer>
          <!-- Footer -->
        </div>
      </div>
      <!-- Copyright -->
      <div class="row bg-dark text-light">
        <div class="col-12 pr-5 d-flex justify-content-end">
          <span>© 2021 Copyright: All rights reserved</span>
        </div>
      </div>
      <!-- Copyright -->
    </div>
  </div>
