<div class="container-fluid content mt-4 mb-4">
    <div class="row">
        <div class="col-12">
            <p class="text-bold">You are going to add a new rack</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card>
                <form>
                    <div class="col-12">
                        <mat-form-field appearance="outline" [style.width.%]=100>
                            <mat-label>Rack No</mat-label>
                            <input #rackNo matInput required>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline" [style.width.%]=100>
                            <mat-lable>Shell No</mat-lable>
                            <input matInput #shellNo required>
                        </mat-form-field>
                    </div>
                    <div *ngIf="rackService.isTakenRackNo" class="col-12">
                        <span [style.color]="'red'">This rack is already saved</span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button (click)="saveRack(rackNo.value.trim(), shellNo.value.trim())" mat-raised-button color="primary" class="btn-block btn-register button" [style.width.%]=30>Save</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
