::ng-deep * {

  margin: 0;
  padding: 0;
}
.loader-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.loader-spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.8;
  z-index: 999;
}
