<div [ngClass]="bookService.mode === 'separate' ? 'content-wrapper': ''" class="mainDiv">
    <div class="d-flex justify-content-end">
        <button class="btn-dialog-close d-flex justify-content-center align-items-center" (click)="onFormClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </div>
    <mat-tab-group animationDuration="1000ms">
        <mat-tab label="Book Registration">
            <div class="row tab">
                <div class="col-12">
                    <mat-card class="box form-card">
                        <form [formGroup]="bookService.form" class="example-form" style="font-size: 12px;" (ngSubmit)="submitForm()">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-3">
                                                <div class="d-flex justify-content-center align-items-center profilePhoto img-fluid">
                                                    <img [src]="bookService.profileImageUrl === '' ? '../../../../assets/images/user-picture.png' : bookService.profileImageUrl" class="profilePhoto img-fluid">
                                                    <div *ngIf="bookService.profileImageUrl !== ''" class="mask"
                                                         mwlConfirmationPopover
                                                         [popoverTitle]="popoverTitle"
                                                         [popoverMessage]="popoverMessage"
                                                         placement="right"
                                                         (confirm)="deleteProfileImage()">
                                                        <div class="delete">
                                                        </div>
                                                    </div>
                                                    <div class="edit">
                                                        <form (ngSubmit)="$event.stopPropagation()">
                                                            <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFileSelect($event)">
                                                            <button (click)="fileInput.click()"><span class=""><mat-icon matSuffix>mode_edit</mat-icon></span></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-9 d-flex align-items-end">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!--Start Book Id fields here-->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <mat-form-field [style.width.%]=100>
                                                                    <mat-label>Book Id</mat-label>
                                                                    <input #bookId matInput formControlName="bookId"required>
                                                                    <mat-error *ngIf="bookService.bookRegisterFormControl.bookId.invalid">
                                                                        {{bookService.bookRegisterFormControl.bookId.hasError('required')?'Book Id is required':''}}
                                                                    </mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Book Id fields here-->
                                                    <!--Guardian Name field start here-->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <mat-form-field [style.width.%]=100>
                                                                <mat-label>sinhala Name</mat-label>
                                                                <input matInput formControlName="sinhalaName"required>
                                                                <mat-error *ngIf="bookService.bookRegisterFormControl.sinhalaName.invalid">
                                                                    {{bookService.bookRegisterFormControl.sinhalaName.hasError('required')?'Sinhala Name is required':''}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-12">
                                                            <mat-form-field [style.width.%]=100>
                                                                <mat-label>English Name </mat-label>
                                                                <input #englishName matInput formControlName="englishName"required>
                                                                <mat-error *ngIf="bookService.bookRegisterFormControl.englishName.invalid">
                                                                    {{bookService.bookRegisterFormControl.englishName.hasError('required')?'English Name is required':''}}
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-label> Year </mat-label>
                                            <input matInput placeholder="ex.2010" formControlName="year">
                                            <mat-error *ngIf="bookService.bookRegisterFormControl.year.invalid">
                                                {{bookService.bookRegisterFormControl.year.hasError('required') ? 'Year is required'
                                                :bookService.bookRegisterFormControl.year.hasError('pattern')?'Year can not contain any special characters':''}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-label> Price</mat-label>
                                            <input matInput placeholder="ex.100" formControlName="price">
                                            <mat-error *ngIf="bookService.bookRegisterFormControl.price.invalid">
                                                {{bookService.bookRegisterFormControl.price.hasError('pattern')
                                                ? 'price can not contain any special characters':''}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-label> pages </mat-label>
                                            <input matInput formControlName="pages"required>
                                            <mat-error *ngIf="bookService.bookRegisterFormControl.pages.invalid">
                                                {{bookService.bookRegisterFormControl.pages.hasError('pattern')
                                                ?'pages can not contain any special characters':''}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-label>Medium</mat-label>
                                            <mat-select formControlName="medium">
                                                <mat-option *ngFor="let medium of mediums" [value]="medium">
                                                    {{medium}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="bookService.bookRegisterFormControl.medium.invalid">
                                                {{bookService.bookRegisterFormControl.medium.hasError('required')?'medium is required':''}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 text-center">

                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Upload pdf book
                                                </mat-panel-title>
                                                <mat-panel-description class="d-flex justify-content-between">
                                                    E-Book for everyone | just download and read
                                                    <i class="fas fa-file-pdf fa-2x"></i>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div class="row">

                                                <div class="col-12 mb-2">

                                                    <div ng2FileDrop
                                                         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                                         (fileOver)="fileOverBase($event)"
                                                         [uploader]="uploader"
                                                         class="well my-drop-zone mb-2" style="height: 100px">
                                                        Drag and Drop a pdf here
                                                    </div>

                                                    <input type="file" accept="application/pdf" ng2FileSelect [uploader]="uploader" multiple  /><br/>

                                                </div>

                                                <div class="col-12">
                                                    <p class="text-left">Queue length: {{ uploader?.queue?.length }}</p>

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th width="50%">Name</th>
                                                            <th>Size</th>
                                                            <th>Progress</th>
                                                            <th>Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let item of uploader.queue">
                                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                                            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                                            <td *ngIf="uploader.options.isHTML5">
                                                                <div class="progress" style="margin-bottom: 0;">
                                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <span *ngIf="item.isSuccess"><i class="fas fa-check"></i></span>
                                                                <span *ngIf="item.isCancel"><i class="fas fa-times"></i></span>
                                                                <span *ngIf="item.isError"><i class="fas fa-exclamation"></i></span>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs"
                                                                        (click)="singleUpload(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                                    <span class="fa fa-upload"></span> Upload
                                                                </button>
                                                                <button type="button" class="btn btn-warning btn-xs"
                                                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                                                    <span class="fas fa-ban"></span> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-xs"
                                                                        (click)="singleDelete(item)">
                                                                    <span class="fas fa-trash"></span> Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <div>
                                                        <div class="mb-2">
                                                            <p class="text-left">Queue progress:</p>
                                                            <div class="progress mt-2" style="">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                                            </div>
                                                        </div>
                                                        <button type="button" class="btn btn-success btn-s"
                                                                (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                                            <span class="fa fa-upload"></span> Upload all
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-s"
                                                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                                            <span class="fas fa-ban"></span> Cancel all
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-s"
                                                                (click)="deleteAll()" [disabled]="!uploader.queue.length">
                                                            <span class="fas fa-trash"></span> Remove all
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>

                                        </mat-expansion-panel>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Radio button field start here-->
                                    <div class="col-12 d-flex align-items-center">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-label>Note</mat-label>
                                            <textarea matInput formControlName="note"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <!--Radio button field end here-->
                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex">
                                        <div [style.width.%]="80">
                                            <ng-multiselect-dropdown
                                                    formControlName="author"
                                                    [placeholder]="'Select the Author'"
                                                    [settings]="dropdownSettings"
                                                    [data]="authorService.dropdownList"
                                                    [(ngModel)]="authorService.selectedItems"
                                                    (onSelect)="onItemSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)"
                                            ></ng-multiselect-dropdown>
                                            <mat-error *ngIf="bookService.bookRegisterFormControl.author.invalid">
                                                {{bookService.bookRegisterFormControl.author.hasError('required')?'Author is required':''}}
                                            </mat-error>
                                        </div>
                                        <div [style.width.%]="20" class="ml-3 d-flex align-items-start">
                                            <button mat-raised-button (click)="openAuthorBottomSheet()">Add Author</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex">
                                        <div [style.width.%]="80">
                                            <ng-multiselect-dropdown
                                                    formControlName="categories"
                                                    [placeholder]="'Select the Categories'"
                                                    [settings]="dropdownSettings"
                                                    [data]="supplierService.dropdownList"
                                                    [(ngModel)]="supplierService.selectedItems"
                                                    (onSelect)="onItemSelect($event)"
                                                    (onSelectAll)="onSelectAll($event)"
                                            ></ng-multiselect-dropdown>
                                            <mat-error *ngIf="bookService.bookRegisterFormControl.categories.invalid">
                                                {{bookService.bookRegisterFormControl.categories.hasError('required')?'Categories is required':''}}
                                            </mat-error>
                                        </div>
                                        <div [style.width.%]="20" class="ml-3 d-flex align-items-start">
                                            <button mat-raised-button (click)="openCategoryBottomSheet()">Add Category</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <button mat-stroked-button class="btn-block btn-register button" [style.width.%]=50>Register</button>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Book Reference Registration">
            <div class="row tab">
                <div class="col-12">
                    <form [formGroup]="bookService.referanceForm" class="example-form" style="font-size: 12px;" (ngSubmit)="submitReferenceForm()">
                        <div class="row mt-4">
                            <div class="col-12">
                                <mat-form-field appearance="outline" [style.width.%]=100>
                                    <mat-label>Reference Number</mat-label>
                                    <input matInput formControlName="refNo" required placeholder="ex:12345">
                                    <mat-error *ngIf="bookService.bookReferanceFormControl.refNo.invalid">
                                        {{bookService.bookReferanceFormControl.refNo.hasError('required')?'Reference Number is required':''}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 d-flex align-items-center">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center">
                                        <mat-form-field appearance="outline" [style.width.%]=100>
                                            <mat-label>Book Id</mat-label>
                                            <input #txtBookId (keyup.enter)="searchBook(txtBookId.value.trim())" matInput formControlName="bookId" required placeholder="ex:12345">
                                            <mat-error *ngIf="bookService.bookReferanceFormControl.bookId.invalid">
                                                {{bookService.bookReferanceFormControl.bookId.hasError('required')?'Book Id is required':''}}
                                            </mat-error>
                                            <div *ngIf="searchedBook" class="tick"></div>
                                            <div *ngIf="txtBookId.value.trim()!==''" class="ml-3" [style.color]="searchedBook? 'green':'red'">{{searchedBook?'Gamperaliya | Sinhala Name (1995) | (Robert C.Martin)':'No Book Found...'}}</div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-form-field appearance="outline" [style.width.%]=100>
                                    <mat-label>Barcode</mat-label>
                                    <input matInput formControlName="barcode"required>
                                    <mat-error *ngIf="bookService.bookReferanceFormControl.barcode.invalid">
                                        {{bookService.bookReferanceFormControl.barcode.hasError('required')?'Barcode is required':''}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 justify-content-center align-items-center"style="background-color: #d23f31">
                                <mat-slide-toggle formControlName="isReference" color="primary">Referance</mat-slide-toggle>
                            </div>
                            <div class="col-6 justify-content-center align-items-center"style="background-color: #d23f31">
                                <mat-slide-toggle formControlName="isNotDisposed" color="primary">Disposed</mat-slide-toggle>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div [style.width.%]="90">
                                    <ng-multiselect-dropdown
                                            formControlName="supplier"
                                            [placeholder]="'Select supplier'"
                                            [settings]="dropdownSettingsSupplier"
                                            [data]="supplierService.dropdownList"
                                            [(ngModel)]="supplierService.selectedItems"
                                            (onSelect)="onItemSelectSupplier($event)"
                                            (onSelectAll)="onSelectAllSupplier($event)"
                                    ></ng-multiselect-dropdown>
                                    <mat-error *ngIf="bookService.bookReferanceFormControl.supplier.invalid">
                                        {{bookService.bookReferanceFormControl.supplier.hasError('required')?'supplier is required':''}}
                                    </mat-error>
                                </div>
                                <div [style.width.%]="18" class="ml-3 d-flex align-items-start">
                                    <button mat-raised-button (click)="openBottomSheetSupplier()">Add Supplier</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div [style.width.%]="90">
                                    <ng-multiselect-dropdown
                                            formControlName="rackNo"
                                            [placeholder]="'Select rack'"
                                            [settings]="dropdownSettingsRack"
                                            [data]="rackService.dropdownListRack"
                                            [(ngModel)]="rackService.selectedItemsRack"
                                            (onSelect)="onItemSelectRack($event)"
                                            (onSelectAll)="onSelectAllRack($event)"
                                    ></ng-multiselect-dropdown>
                                    <mat-error *ngIf="bookService.bookReferanceFormControl.rackNo.invalid">
                                        {{bookService.bookReferanceFormControl.rackNo.hasError('required')?'rack no is required':''}}
                                    </mat-error>
                                </div>
                                <div [style.width.%]="18" class="ml-3 d-flex align-items-start">
                                    <button mat-raised-button (click)="openBottomSheetRack()">Add Rack</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
