.form-card {
  box-shadow: 2px 2px 5px 2px darkseagreen;
  overflow: auto;
}
.tab{
  min-width: 700px;
  width: 700px;
  min-height: 520px;
  height: 520px;
}
.btn-register{
  background-color: darkblue;
}
.profilePhoto{
  position: relative;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url("../../../../assets/images/user-picture.png");
  background-size: cover;

  .edit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    color: black;
    right: 30px;
    bottom: 5px;
    width: 30px;
    height: 30px;

    &:hover{
      cursor: pointer;
      box-shadow: 5px 5px 15px 0px red;
      width: 32px;
      height: 32px;
      background-color: lightblue;
    }
  }
  .mask{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    .delete{
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-image: url("../../../../assets/images/delete.png");
      background-size: contain;
      cursor: pointer;
    }

    &:hover{
      opacity: 0.5;
    }
  }
}
.button{
  border-radius: 50px;
  background-color: lawngreen;
  font-size: 18px;
  font-weight: 800;
  box-shadow: 5px 5px 5px 2px darkseagreen;

  &:hover{
    box-shadow: 5px 5px 5px 2px gray;
  }
}
.btn-dialog-close{
  width: 30px;
  height: 30px;
  text-align: center;
  background: none;
  border-radius: 50%;
  border: none;

  &:hover{
    background-color: darkseagreen;
  }
}
.btn-dialog-close mat-icon{
  justify-content: center;
  text-align: center;
}

.tick {
  background: url("../../../../assets/images/tick.gif");
  height: 40px;
  width: 40px;
  background-size: cover;
}
.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }
