<div [ngClass]="studentService.mode === 'separate' ? 'content-wrapper': ''" class="mainDiv">
    <div *ngIf="studentService.mode !== 'separate'" class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-dialog-close d-flex justify-content-center align-items-center" mat-stroked-button (click)="onFormClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h4>Student Registration</h4>
                </div>
            </div>
            <mat-card class="box form-card">
                <form [formGroup]="studentService.form" class="example-form" style="font-size: 12px;" (ngSubmit)="submitForm()">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="d-flex justify-content-center align-items-center profilePhoto img-fluid">
                                            <img [src]="studentService.profileImageUrl === '' ? '../../../../assets/images/user-picture.png' : studentService.profileImageUrl" class="profilePhoto img-fluid">
                                            <div *ngIf="studentService.profileImageUrl !== ''" class="mask"
                                                 mwlConfirmationPopover
                                                 [popoverTitle]="popoverTitle"
                                                 [popoverMessage]="popoverMessage"
                                                 placement="right"
                                                 (confirm)="deleteProfileImage()">
                                                <div class="delete">
                                                </div>
                                            </div>
                                            <div class="edit">
                                                <form (ngSubmit)="$event.stopPropagation()">
                                                    <input #fileInput type="file" accept="image/*" style="display: none" (change)="onFileSelect($event)">
                                                    <button (click)="fileInput.click()"><span class=""><mat-icon matSuffix>mode_edit</mat-icon></span></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9 d-flex align-items-end">
                                        <div class="row">
                                            <div class="col-12">
                                                <!--Registration Number field start here-->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <mat-form-field [style.width.%]=100>
                                                            <mat-label>Registration Number</mat-label>
                                                            <div class="d-flex">
                                                                <input #regNo (focusout)="(regNo.value !== '') ? validateUsername(regNo.value) : ''" (focus)="studentService.isValidUsername=true" matInput formControlName="regNo" required [style.width.%]="50">
                                                                <span *ngIf="!studentService.isValidUsername" style="color: red">this register number already in use.</span>
                                                            </div>
                                                            <mat-error *ngIf="studentService.registerFormControl.regNo.invalid">
                                                                {{studentService.registerFormControl.regNo.hasError('required')?'registration number is required':''}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <!--Registration Number field end here-->
                                                <!--Start Name fields here-->
                                                <div class="row">
                                                    <div class="col-12 col-md-3">
                                                        <mat-form-field [style.width.%]=100>
                                                            <mat-label>Initials</mat-label>
                                                            <input matInput formControlName="initial">
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-12 col-md-4">
                                                        <mat-form-field [style.width.%]=100>
                                                            <mat-label>First name</mat-label>
                                                            <input matInput formControlName="fname" required>
                                                            <mat-error *ngIf="studentService.registerFormControl.fname.invalid">
                                                                {{studentService.registerFormControl.fname.hasError('required') ? 'First name is required'
                                                                : studentService.registerFormControl.fname.hasError('minlength')
                                                                    ? 'First name should have at least three characters': 'First name cannot contain any numbers or special characters'}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-12 col-md-5">
                                                        <mat-form-field [style.width.%]=100>
                                                            <mat-label>Last Name </mat-label>
                                                            <input matInput formControlName="lname">
                                                            <mat-error *ngIf="studentService.registerFormControl.lname.invalid">
                                                                {{studentService.registerFormControl.lname.hasError('minlength')? 'Last name should have at least three characters': ''}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                </div>
                                                <!--End Name fields here-->
                                                <!--Guardian Name field start here-->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <mat-form-field [style.width.%]=100>
                                                            <mat-label>Guardian Name</mat-label>
                                                            <input matInput placeholder="Ex.Your Parents name" formControlName="guardianName"required>
                                                            <mat-error *ngIf="studentService.registerFormControl.guardianName.invalid">
                                                                {{studentService.registerFormControl.guardianName.hasError('required')? 'guardian name is required'
                                                                :studentService.registerFormControl.guardianName.hasError('minlength')? 'guardian name should have at least three characters':'guardian name cannot contain any numbers or special characters'}}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <!--Guardian Name field end here-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Address Fileds start here-->
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <mat-form-field [style.width.%]=100>
                                    <mat-label>Street Number</mat-label>
                                    <input matInput placeholder="ex.No 01" formControlName="streetNo">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-4">
                                <mat-form-field [style.width.%]=100>
                                    <mat-label>First Street</mat-label>
                                    <input matInput placeholder="ex.1St lane" formControlName="firstStreet"required>
                                    <mat-error *ngIf="studentService.registerFormControl.firstStreet.invalid">
                                        {{studentService.registerFormControl.firstStreet.hasError('required')
                                        ? 'first street is required':studentService.registerFormControl.firstStreet.hasError('minlength')
                                            ? 'first street should have at least threee characters':''}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-3">
                                <mat-form-field [style.width.%]=100>
                                    <mat-label>Second Street</mat-label>
                                    <input matInput placeholder="Ex.Kodagoda" formControlName="secondStreet"required>
                                    <mat-error *ngIf="studentService.registerFormControl.secondStreet.invalid">
                                        {{studentService.registerFormControl.secondStreet.hasError('required')
                                        ?'second street is required':studentService.registerFormControl.secondStreet.hasError('minlength')
                                            ?'second street should have at least threee characters':''}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-3">
                                <mat-form-field [style.width.%]=100>
                                    <mat-label>Town</mat-label>
                                    <input matInput placeholder="Ex.Imaduwa" formControlName="town">
                                    <mat-error *ngIf="studentService.registerFormControl.town.invalid">
                                        {{studentService.registerFormControl.town.hasError('minlength')?'town should have at least three characters':''}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!--Address Fileds end here-->

                        <div class="row">
                            <!--Radio button field start here-->
                            <div class="col-12 col-md-4 d-flex align-items-center">
                                <mat-radio-group aria-label="Select an option" formControlName="gender">
                                    <mat-radio-button value="male" class="pr-lg-4 pr-4">Male</mat-radio-button>
                                    <mat-radio-button value="female">Female</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <!--Radio button field end here-->
                            <!--Telephone field start here-->
                            <div class="col-12 col-md-4">
                                <mat-form-field>
                                    <mat-label>Telephone</mat-label>
                                    <input type="tel" matInput placeholder="0771234567" formControlName="contact">
                                    <mat-icon matSuffix>mode_edit</mat-icon>
                                    <mat-error *ngIf="studentService.registerFormControl.contact.invalid">
                                        {{studentService.registerFormControl.contact.hasError('minlength')?'contact number must be at least 10 numbers'
                                        : studentService.registerFormControl.contact.hasError('maxlength')?'contact number must be 10 numbers'
                                            :studentService.registerFormControl.contact.hasError('pattern')?'contact number can not contain any special characters':''}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!--Telephone field end here-->
                            <!--Active states field start here-->
                            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                                <mat-slide-toggle formControlName="active" color="primary">Active</mat-slide-toggle>
                            </div>
                            <!--Active states field end here-->
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex">
                                <div [style.width.%]="90">
                                    <ng-multiselect-dropdown
                                            formControlName="grades"
                                            [placeholder]="'Select the student grades'"
                                            [settings]="dropdownSettings"
                                            [data]="studentService.dropdownList"
                                            [(ngModel)]="studentService.selectedItems"
                                    ></ng-multiselect-dropdown>
                                    <mat-error *ngIf="studentService.registerFormControl.grades.invalid">
                                        {{studentService.registerFormControl.grades.hasError('required')?'grade is required':''}}
                                    </mat-error>
                                </div>
                                <div class="ml-2">
                                    <button (click)="openBottomSheet()" mat-raised-button color="primary">Add Grade</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button mat-stroked-button class="btn-block btn-register button" [style.width.%]=50>Register</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>


